<div class="header" style="align-items: center; justify-content: end; display: flex;">


  <div style="margin-right: 30px; display: flex; align-items: center; gap: 10px;">

      <div style="color: white; text-transform: uppercase;">
        Jhon Mario Salazar
      </div>

    <div style="border-radius: 99999px; background: white; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;">
      <mat-icon class="icon-size" style="color: gray;">perm_identity</mat-icon>
    </div>
  </div>

</div>
