<div style="width: 100%; padding: 30px; box-sizing: border-box;">

  <section style="display: flex; gap: 4px; margin-bottom: 5px;">
    <mat-icon class="icon-size" style="color: orange;">info</mat-icon>
    <div style="display: flex; flex-direction: column; gap: 4px;">
        <div style="font-weight: 500; font-size: 16px; color: gray;">{{!!data ? 'Modificar' : 'Registrar nuevo' }} indicador</div>
        <div style="color: gray;">{{valoresMedida}}</div>
    </div>
  </section>

  <hr style="margin-top: 0px; margin-bottom: 20px;">


  <section >

    <form [formGroup]="formMedida" style=" display: flex; flex-direction: column; gap: 36px; margin-top: 10px; margin-bottom: 10px;">



    <mat-form-field appearance="outline">
      <mat-label>Seleccione medida</mat-label>
      <mat-select (selectionChange)="cambioMedida()" formControlName="idUnidadMedida">
        <mat-option value="">Seleccione</mat-option>
          <mat-option *ngFor="let medida of tipoMedida" [value]="medida?.id">{{medida?.nombre}}</mat-option>

      </mat-select>
      <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Seleccione fecha medición</mat-label>
      <input formControlName="fecha"  matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Este campo es requerido</mat-error>

    </mat-form-field>



    <mat-form-field appearance="outline">
      <mat-label>Valor medido</mat-label>
      <input formControlName="valorMedido"  type="text" matInput>
      <!-- <mat-error >Este campo es requerido</mat-error> -->
      <mat-error *ngIf="formMedida.controls['valorMedido'].errors?.['numberRange']">{{formMedida.controls['valorMedido'].errors?.['numberRange']}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <input  formControlName="descripcion" type="text" matInput>
      <mat-error>Este campo es requerido</mat-error>

    </mat-form-field>

  </form>

  </section>

  <hr style="margin-top: 30px; margin-bottom: 0px;">

  <section style="display: flex; gap: 4px; align-items: center; justify-content: space-around; margin-top: 10px;">
    <button (click)="enviarForm()" [disabled]="formMedida.invalid" type="button" mat-raised-button [ngStyle]="{'background-color' : formMedida.invalid ? '#e1dbdb' : 'orange' }" style="color: white;">
      {{!!data ? 'Actualizar' : 'Guardar'}}

    </button>

    <button (click)="cerrarModal()" type="button" mat-stroked-button style="background-color: gray; color: white;">
      Cerrar

    </button>


  </section>

</div>
