.icon-size {
  --size: 3.5rem;
  width: var(--size) /* 96px */ !important;
  height: var(--size) /* 96px */ !important;
  min-width: var(--size) /* 96px */ !important;
  min-height: var(--size) /* 96px */ !important;
  font-size: var(--size) /* 96px */ !important;
  line-height: var(--size) /* 96px */ !important;
}
