<div style="width: 100%; padding: 30px; box-sizing: border-box;">

  <section style="display: flex; gap: 4px; align-items: center;margin-bottom: 5px;">
    <mat-icon class="icon-size" style="color: orange;">info</mat-icon>
      <div style="font-weight: 500; font-size: 16px;">Registrar nuevo indicador</div>
  </section>

  <hr style="margin-top: 0px; margin-bottom: 0px;">


  <section style=" display: flex; flex-direction: column; gap: 10px; margin-top: 10px; margin-bottom: 10px;">

    <mat-form-field appearance="outline">
      <mat-label>Fecha medición</mat-label>
      <input type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Valor medido</mat-label>
      <input type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <input type="text" matInput>
    </mat-form-field>



  </section>

  <hr style="margin-top: 0px; margin-bottom: 0px;">

  <section style="display: flex; gap: 4px; align-items: center; justify-content: space-around; margin-top: 10px;">
    <button type="button" mat-raised-button style="background-color: orange; color: white;">
      Guardar

    </button>

    <button (click)="cerrarModal()" type="button" mat-stroked-button style="background-color: gray; color: white;">
      Cerrar

    </button>


  </section>

</div>
